<% @pokemons.each do |pokemon|%>
	<div class="pokemon">
		<a href="/pokemons/<%= pokemon.id %>"><%= pokemon.name %></a>
	</div>
<% end %>

<div class="pokemon button">
<a href='/pokemons/new'>Create A New Pokemon</a>
</div>