<h1>Make A New Pokemon!</h1>

<form action="/pokemons" method="post" >
  <label>Name:</label>
  <input name="name">

  <label>Pokemon Type:</label>
  <input name="poke_type">

  <label>Combat Points:</label>
  <input name="cp">

  <label>Image:</label>
  <input name="img_url">

  <input type="submit" value="Create">
</form>


