<!-- <h1><a href="/pokemons">Back to All Pokemons</a></h1> -->
<div>
<p>Pokemon Name: <%= @pokemon.name %></p>
<p>Pokemon Type: <%= @pokemon.poke_type %></p>
<p>Pokemon Combat Points: <%= @pokemon.cp %></p>
<p>Pokemon Image: </p><img src="<%= @pokemon.img_url %>"/>
</div>




