<!DOCTYPE html>
<html>
<head>
	<title>Pokemon</title>
	<link rel="stylesheet" href="/css/pokestyle.css">
</head>
<body>
	<h1><a href='/pokemons'>See All The Pokemon</a>
	<a href='/pokemons/new'>Create A New Pokemon</a>
	<a href='/trainers'>See All The Trainers</a>
	<a href='/trainers/new'>Create A New Trainer</a>
	</h1>

	<%= yield %>
</body>
</html>