<!DOCTYPE html>
<html>
<head>
	<title>Pokemon</title>
	<link rel="stylesheet" href="/css/pokestyle.css">
</head>
<body>
	<div class="containareon">
	<h1><a href='/pokemons'>*View Pokemon*</a></h1>
	<h1><a href='/trainers'>*View Trainers*</a></h1>
	</div>

	<%= yield %>
</body>
</html>