<!DOCTYPE html>
<html>
<head>
	<title>Pokemon</title>
</head>
<body>
	<h1><a href='/pokemons'>See All The Pokemon</a>
	<a href='/pokemons/new'>Create A New Pokemon</a>
	</h1>

	<%= yield %>
</body>
</html>