<% @trainers.each do |trainer|%>
	<div class="pokemon">
		<a href="/trainers/<%= trainer.id %>"><%= trainer.name %></a>
	</div>
<% end %>

<div class="pokemon button">
<a href='/trainers/new'>Create A New Trainer</a>
</div>





