<h1>Make A New Trainer!</h1>

<form action="/trainers" method="post" >
  <label>Name:</label>
  <input name="name">

  <label>Trainer Level:</label>
  <input name="level">

  <label>Image:</label>
  <input name="img_url">

  <input type="submit" value="Create">
</form>